<ng-container *ngIf="studentsLoadStatus.loaded && !studentsLoadStatus.loading; else elseBlock">
  <app-table
    [options]="studentsTableOptions"
    [tableView]="studentsTableView"
    (onSaveData)="saveData($event)"
  ></app-table>
  <button
    mat-raised-button
    color="primary"
    class="students__button_add"
    (click)="onCreateStudent()">
    Add new student
  </button>
</ng-container>
<ng-template #elseBlock>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-container *ngIf="!studentsLoadStatus.loaded && !studentsLoadStatus.loading;">
  <p>При загрузке данных произошла ошибка :( Пожалуйста, повторите попытку позже </p>
</ng-container>
